*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald',sans-serif;
}
section,.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
img{
    width: 100%;
    height: 100%;
    display: block;
}
a{
    text-decoration: none;
    
}
.section_padding{
    padding-left: 80px;
    padding-right: 80px;
}
.common_padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
nav{
    background-color: #303030;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist ul{
    display: flex;
    list-style: none;
}
.navlist ul li{
    margin: 0 30px;
}
.navlist ul li a{
    color: white;
    font-size: 25px;
    font-family: 'Oswald',sans-serif;
}
.navbar .icon{
    color:white;
    font-size: 25px;
}

.banner{
    height: 100vh;
    background-image: url("../images/banner_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rebeccapurple; */
    justify-content: end;
    
}


    
.banner_main{
    width: 50%;
}
.banner_main h1{
    margin-top: 30px;
    font-size: 50px;
    color: white;
    font-family: 'Oswald',sans-serif;
}
.banner_main p{
    margin-top: 30px;
    color: white;
    font-family: 'Oswald',sans-serif;
    font-size: 25px;

}
.banner_main a{
    display: inline-block;
    margin-top: 30px;
    color: white;
    background-color: #e8631c;
    font-size: 25px;
    padding: 25px 40px;

}


.dance_tour{
    background-color: #e8631c;
}
.dance_tour .heading{
    width: 50%;
    text-align: center;

}
.dance_tour .heading h2{
    font-size: 40px;
    color: white;
    
}
.dance_tour .heading p{
    font-size: 25px;
    margin-top: 30px;
    color: white;
}
.dance_tour .dance_card{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0% 5%;
    /* border: 2px solid black; */

}
.dance_tour .dance_card .card{
    width: 33.33%;
    /* border: 2px solid green; */
}
.dance_tour .dance_card .card .card_heading{
  background-color: #303030;
  padding: 25px 40px;
}
.dance_tour .dance_card .card .card_heading p{
 text-align: center;
}
.dance_tour .dance_card .card .card_heading p:nth-child(1){
    font-size: 35px;
    color: white;
}
.dance_tour .dance_card .card .card_heading p:nth-child(2){
   font-size: 20px;
   color: white;
}
